* text=auto eol=lf

# keep these as text with LF
*.sh   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.svg  text eol=lf

# treat binaries as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# Block commits with files over 50MB (use Git LFS if needed)
* -filter -diff -merge

# File types to store in Git LFS if ever used
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
